.rt-Card:where(.rt-variant-surface) {
    --card-background-color: white;
}

.App {
  height: 100dvh;
  overflow: scroll;
  box-sizing: border-box;
  font-size: 18px;
  padding: 1rem;
}

.rt-TextFieldInput {
  font-size: 18px;
}

.material-symbols-outlined {
  vertical-align: middle;
}
