.rt-Card:where(.rt-variant-surface) {
    --card-background-color: white;
}

.App {
  margin: 1rem auto;
  height: 100dvh;
  box-sizing: border-box;
  font-size: 18px;
  background: var(--theme-bg);

  > div {
    max-width: 380px;
    margin: 1rem auto;
    background-color: var(--card-background-color);
    height: calc(100dvh - 2rem);
  }
}

.rt-TextFieldInput {
  font-size: 18px;
}

.material-symbols-outlined {
  vertical-align: middle;
}
